name: OpenAPI Spec CI

on:
  pull_request:
    branches:
      - v2

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:  
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Cache Node Modules and NPM Cache
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
      
      - name: Install deps
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install
      
      - name: Run tests
        run: npm test
      
      - name: Bundle spec and build docsite
        run: npm run build
